.first-row {
  border: 1px solid red;
  border-radius: 30px;
  padding: 5px;
  font-size: 1.2em;
}
.second-row {
  font-weight: bold;
  font-style: italic;
}
.third-row {
  background-color: black;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  color: white;
  font-family: monospace;
}

div {
  margin: 10px;
}
